/*General*/

body {
    height: 100vh;
    width: 100%;
    margin: 0px; 
    background-color: #FFE9F1;
}

html {
    height: 100vh;
}

:root {
    --purple: #8E5067;
}

/*Divs*/

.main-div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --border-size: 75px;
    border:  var(--border-size) solid transparent;
    border-image: url(pattern2.png) 33% round;
    height:  calc(100% - 2 * var(--border-size));
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.two-buttons-div {
    display:flex;
    justify-content: space-around;
    width: 100%;
}

.row-of-buttons {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 80px;
}

.result {
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    background: white;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 80px;
}

.product-info {
    height: 95%;
    width: 45%;
    word-wrap: normal;
    margin: 2.5%;
    overflow-y: scroll;
}

.photo-and-link {
    height: 95%;
    width: 45%;
    margin: 2.5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;
}

.final-buttons-div {
    width: 60%;
    height: 8%;
    display: flex;
    justify-content: space-between;
}

/*Text*/

.title {
    font-size: 75px;
    font-family: Alex Brush;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0;
}

.subtitle {
    font-size: 30px;
    font-family: Petrona;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 0px;
}

.choose {
    margin-bottom: 100px;
}

.character-name {
    margin: 0;
    font-size: 20px;
    color: black;
}

/*Images*/

.icon {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}

.character-img {
    width: 70%;
    height: 80%;
    object-fit: contain;
}

.product-img {
    width: 100%;
    height: 70%;
    object-fit: contain;
}

.fas {
    color: white;
    margin-right: 10px;
}

/*Buttons*/

a {
    font-size: 30px;
    font-family: Petrona;
    color: white;
    text-decoration: none;
    background-color: black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    padding: 20px 208px;
}

.return-button {
    background: var(--purple);
    padding: 12px 80px;
}

.continue-button {
    padding: 12px 65px;
}


.character-button {
    padding: 0;
    width: 15%;
    height: 45%;
    margin: 0px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 42%;
}

.character-button:hover {
    background: #f9f9f9;  
}

.character-button:active {
    filter: none;  
}

:target {
    filter: none;  
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
} 

.store-link {
    width: 100%;
    height: 20%;
    padding: 0;
    margin-top: 5%;
    background-color: var(--purple);
    filter: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-button {
    padding: 0;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-button::before {
    content: icon;
}

/*Slider*/

.slider {
    margin-bottom: 20px;
    appearance: none;
    width:60%;
    height: 15px;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 28px;
    height: 28px;
    background: url(rewards.png);
    background-size: 28px 28px;
    cursor: pointer;
} 

.budget-value {
    font-size: 50px;
    font-family: Petrona;
    text-align: center;
    margin-bottom: 150px;
}

/*Drop-down*/

.select-div {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    height: 40px;
    border: none;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0.25em 0.5em;
    font-size: 25px;
    cursor: pointer;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    margin-bottom: 200px;
    text-align-last: center;
}

.select-div::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #000;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}
  
  select,
  .select-div:after {
    grid-area: select;
  }

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}


/*Fonts*/

@font-face {
    font-family: Alex Brush;
    src: url(AlexBrush-Regular.ttf);
}

@font-face {
    font-family: Petrona;
    src: url(Petrona-VariableFont_wght.ttf);
}

@media only screen and (max-width: 650px) {
    a {
        padding: 20px 90px;
    }
}
